*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}



/* style untuk block element */

.block-element{
    background-color: aliceblue;
    margin: 10px 0; 
    padding: 20px;
    border: 1px solid rgb(88, 166, 234);
    width: 100%; 
}
.flex-container{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

}
.section.block-element{
    flex: 0 0 70%;
}

/* nav.block-element{
    float: left;
    width: 60%;
} */
.sidebar{
    float: right;
    width: 30%;
}

.inline-elemnent{
    background-color: aliceblue;
    padding: 2px 5px;
    border: 1px solid rgb(88, 166, 234);
}
nav a{
    color: rgb(3, 86, 158);
    padding: 2px 5px;
    border: 1px solid rgb(88, 166, 234);
    
}
nav a:hover{
    text-decoration: none;
}