/* style untuk block element */

.block-element{
    background-color: aliceblue;
    margin: 10px 0; 
    padding: 20px;
    border: 1px solid rgb(88, 166, 234);
    width: 100%; 
}

.inline-elemnent{
    background-color: aliceblue;
    padding: 2px 5px;
    border: 1px solid rgb(88, 166, 234);
}
nav a{
    color: rgb(3, 86, 158);
    padding: 2px 5px;
    border: 1px solid rgb(88, 166, 234);
    
}
nav a:hover{
    text-decoration: none;
}