*{
    box-sizing: border-box;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.form-contoh{
    padding: 20px;
    border: 2px solid aliceblue;
    margin-top: 30px;
    background-color: aliceblue;
    border-radius: 10px;
}

label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input{
    width: 106 0%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid aliceblue;
    border-radius: 10px;
}

button {
    background-color: blue;
    padding: 10px 15px;
    border: none;
    color: aliceblue;
    cursor: pointer;
}

button:hover{
    background-color: aqua;
}