/* External CSS */

/* Selector for all tags */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Selector by class */
.column {
    float: left;
    padding: 10px;
}

.column.side {
    width: 25%;
}


.column.middle {
    width: 50%;
}

/* Selector by tag */
.row::after {
    content: "";
    display: block;
    clear: both;
}

.footer {
    background-color: rgb(82, 82, 82);
    padding: 10px;
    text-align: center;

}
