body {
    background-color: #e8f6f3;
}

table {
    width: 100%;
}

th, td {
    padding: 10px;
    border: 1px solid #bbb;
    text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

.data {
    text-align: center;
    color: #2c3e50;
}
