* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
/* stlye unAtuk block element */
.block-element{
    background-color: bisque;
    margin: 5px b0px;
    padding: 20px;
    width: 100%; /*syarat lanjutan dari block element => tampilan penuh satu baris layar*/
    border: 1px solid rgb(30, 116, 192);
}

nav.block-element{
    float: left;
    width: 60%;
}

.sidebar{
    float: right;
    width: 30%;
}

.inline-element{
    background-color: blanchedalmond;
    padding: 2px 5px;
    border: 1px solid rgb(82, 82, 87);
}

nav  a{
    color: antiquewhite;
    padding: 2px 5px;
    border: 1px solid rgb(108, 108, 151);
    background-color: aqua;
}

nav a:hover {
    text-decoration: none;
}