* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}*/

.block-element{
    background-color: blueviolet;
    margin: 10px 0;
    padding: 20px;
    border: 1px solid rgb(212, 21, 21);
    width: 100%;
}
/*.flex-container{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: 20px 0;
}
.inline-element{
    background-color: blueviolet;
    padding: 2px 5px;
    border: 1px solid blue;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}    
/*}
section.block-element{
    flex: 0 0 70%
}*/

/*nav.block-element{
    float: left;
    width: 20%;
}*/

/*.sidebar{
    float: right;
    width: 20%;
}*/

nav a{
    color:blueviolet;
    padding: 2px 5px;
    border: 1px solid aliceblue;
    background-color: azure;
}
nav a:hover{
    text-decoration: dashed;
}